*{
    margin: 0%;
    padding:0%;
}
.onlymobile{
    display: none;
}
.background{
    height:500px;
    background: url("https://s3-alpha-sig.figma.com/img/8347/1163/27e552a9ec9d908abd3ac8cbbf818edd?Expires=1625443200&Signature=R4i7wmLB4IR1jy6PCHg-vYny8Lx65pSJ8FaoiRFmz2YwIi7-0Rfz3gXFO7eN0T2W0jJNGPwCivq9RsFqjDU7ngeNH4CHSSOrBwyQrcisTi5bxEqvNoVBqKmQo5pOSAvC~5nMoqD4ot8r-2u01BuuJ4FtP6dpdQrG8oBFGYm9JVLFW~UmcatF4ho3SVyIZUHGThRgq2cE5qpbRjYDYV~45g~KucvOvklwZ~NNT3R7RLH5H85DJ3XkEwSs6Uvsfq7ew032O~8NtcziNrBPVrq6mgiVLUhR80mdZZFV-Eu6jjm3WmImJm2AZQmh5O1BizPWLm8L6Xyx~vZrkDRr9BZ8Tg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
}
.back-img{
    padding-left:80px;
    padding-top:55px;
}
.horiline hr{
    height:2px;
    width: 90%;
    margin-left:100px;
    margin-top:-20px;
    background-color: white;
    border: none;
}

.bgtext{
    margin-left:460px;
    margin-top: 150px;
    padding-left:100px;
    padding-top:20px;
    padding-bottom:20px;
    letter-spacing: 2px;
    width:900px;
    background-color: rgba(255, 255, 255, 0.77)
    }
    .bgtext h3{
        font-size:35.64px;
        font-weight: 700;
        line-height: 37.14px;
        color:#000000;
    }
    
.profile{
    margin-left:120px;
    margin-top:50px;
}
.profileimage{
    width:70px;
    height:70px;
    border-radius: 100%;
    background-image:url("https://2.bp.blogspot.com/-PE3bIv_qjlk/WHuhzylCazI/AAAAAAAAAKY/kVyd9P2u6Bg5hoQK5hzcXKV2i7hcQ-1IQCLcB/s1600/Urdang_passport-size.jpg");
}
.profileinfo{
    display: flex;
}
.profilename{
    margin-left:20px;
    margin-top:5px;
    color:#414141;

}
.profilename p{
    color:grey;
    margin-top:10px;
    font-size:14px;
}
.card{
    width:900px;
    margin-left: 541px;
    margin-top:-250px;
    box-shadow: 2px 2px  5px #888888;
}
.card .firstp{
    color:#484848;
    padding-left:160px;
    padding-right:130px;
    padding-top:100px;
    padding-bottom: 50px;
}
.card img{
    height: 431px;
}
.moreinfo h4{
    color:#7A7A7A;
    Font-size: 24px;
    padding-top:70px;
    text-align: left;
    padding-left:160px;
}
.card .secondp{
    color:#484848;
    padding-left:160px;
    padding-right:130px;
    padding-top:30px;
    padding-bottom:100px;
}

    .date{
        position: absolute;
        top:900px;
        left:150px;
        font-weight: 700;
        font-Size: 35.15px;
       }


@media screen and (max-width:600px) {
   *{
       margin: 0%;
       padding:0%;
   } 
   .date{
       display: none;
   }
.back-img{
    padding-left:20px;
    padding-top:20px;
}
.back-img img{
    width:20px;
}
    .horiline hr{
    height:2px;
    width: 60%;
    margin-left:10px;
    position: absolute;
    top:330px;
    background-color: white;
    border: none;
    }
    .bgtext{
        margin-left: -20px;
        margin-top: -50px;
        padding-left:30px;
        padding-top:100px;
        padding-bottom:20px;
        letter-spacing: 2px;
        width:316px;
        height:508px;
        background-color: black
        }
        .bgtext h3{
            font-size:17.54px;
            font-weight: 700;
            line-height: 18.28px;
            color:white;
        }
        
.profile{
    width:300px;
    margin-left:20px;
    margin-top:0px;
    position: absolute;
    top:200px;
}
.profile h5{
    font-size: 17.92148px;
    line-height: 8px;
}
.profileimage{
    width:70px;
    height:70px;
    border-radius: 100%;
    background-image:url("https://2.bp.blogspot.com/-PE3bIv_qjlk/WHuhzylCazI/AAAAAAAAAKY/kVyd9P2u6Bg5hoQK5hzcXKV2i7hcQ-1IQCLcB/s1600/Urdang_passport-size.jpg");
}
.profileinfo{
    display: flex;
}
.profilename{
    margin-left:20px;
    margin-top:5px;
    color:white;

}

.profilename p{
    color:white;
    margin-top:10px;
    font-size: 12.28098px;
    line-height: 15px;
}

.card{
    width:100vw;
    margin-left: 0px;
    margin-top:0px;
    padding-top:40px;
    border: none;
}
.card .firstp{
    color:#484848;
    padding-left:40px;
    padding-right:40px;
    padding-top:40px;
    padding-bottom:40px;
}
.card img{
    height:200px;
}
.moreinfo h4{
    color:#7A7A7A;
    Font-size: 24px;
    padding-top:30px;
    text-align:left;
    padding-left:20px;
}
.card .secondp{
    color:#484848;
    padding-left:40px;
    padding-right:40px;
    padding-top:20px;
    padding-bottom:40px;
}


}